html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.Navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
}

.Texts ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
}

.menu1{
  position: absolute;
}

.menuflex{
  display: flex;
  justify-content: end;
  padding-right: 14rem;
}
